import SwiftCrossUI

@main
struct {{TARGET}}App: App {
    let identifier = "com.example.{{TARGET}}"
    
    let windowProperties = WindowProperties(title: "{{TARGET}}")
    
    var body: some ViewContent {
        HStack {
            Text("Hello, world!")
        }
    }
}