// swift-tools-version: 5.9

import PackageDescription

let package = Package(
	name: "{{PACKAGE}}",
	platforms: [.macOS(.v10_15)],
	dependencies: [
		.package(url: "https://github.com/stackotter/swift-bundler", revision: "263c3ec9bdb1929be2ac078e72b8f4fb181e1d4f"),
		.package(url: "https://github.com/stackotter/swift-cross-ui", branch: "698161f6af0b35c7181b00108e6803ce93fa4867"),
	],
	targets: [
		.executableTarget(
			name: "{{PACKAGE}}",
			dependencies: [
				.product(name: "SwiftCrossUI", package: "swift-cross-ui"),
				.product(name: "DefaultBackend", package: "swift-cross-ui"),
				.product(name: "SwiftBundlerRuntime", package: "swift-bundler"),
			]
		)
	]
)
