// swift-tools-version: 6.0

import PackageDescription

let package = Package(
	name: "{{PACKAGE}}",
	platforms: [.macOS(.v10_15), .iOS(.v13), .tvOS(.v13), .macCatalyst(.v13)],
	dependencies: [
		.package(
			url: "https://github.com/moreSwift/swift-bundler",
			revision: "002218e6e310c4f179859710ae98179fec485e04"
		),
		.package(
			url: "https://github.com/moreSwift/swift-cross-ui",
			.upToNextMinor(from: "0.2.1")
		),
	],
	targets: [
		.executableTarget(
			name: "{{PACKAGE}}",
			dependencies: [
				.product(name: "SwiftCrossUI", package: "swift-cross-ui"),
				.product(name: "DefaultBackend", package: "swift-cross-ui"),
				.product(name: "SwiftBundlerRuntime", package: "swift-bundler"),
			]
		),
	]
)
