// swift-tools-version: 5.9

import PackageDescription

let package = Package(
	name: "{{PACKAGE}}",
	platforms: [.macOS(.v10_15), .iOS(.v13), .tvOS(.v13), .macCatalyst(.v13)],
	dependencies: [
		.package(
			url: "https://github.com/stackotter/swift-bundler",
			revision: "7a3ee20eaeb3cf1aa1f0a9a056c01c9c4ccb6e2a"
		),
		.package(
			url: "https://github.com/stackotter/swift-cross-ui",
			revision: "8416e83ed33e78fda49442d808194adb1627dc87"
		)
	],
	targets: [
		.executableTarget(
			name: "{{PACKAGE}}",
			dependencies: [
				.product(name: "SwiftCrossUI", package: "swift-cross-ui"),
				.product(name: "DefaultBackend", package: "swift-cross-ui"),
				.product(name: "SwiftBundlerRuntime", package: "swift-bundler"),
			]
		)
	]
)
