// Hot reloading works with both GtkBackend and AppKitBackend. The following
// command lets you override the default backend;
//   SCUI_DEFAULT_BACKEND=GtkBackend swift bundler run --hot
import DefaultBackend
import SwiftBundlerRuntime  // Required by the expansion of @HotReloadable
import SwiftCrossUI

// At the moment state must be Codable to get persisted across hot reloads. If
// not Codable, it simply gets reset back to default on reloads. Codable has
// the added benefit of allowing you to shuffle around and remove fields while
// still having state persist across hot reloads.
class CounterState: Observable, Codable {
	@Observed var count = 0
}

struct CounterView: View {
	let state = CounterState()

	var body: some View {
		VStack {
			Text("Count: \(state.count)")
			HStack {
				Button("Decrease") {
					state.count -= 1
				}
				Button("Increase") {
					state.count += 1
				}
			}
		}
		.padding(10)
	}
}

// Top-level @HotReloadable required to setup dylib entrypoints and hot reloading
// server connections.
@main
@HotReloadable
struct {{PACKAGE}}App: App {
	let identifier = "{{IDENTIFIER}}"

	var body: some Scene {
		WindowGroup("{{PACKAGE}}") {
			// #hotReloadable should be applied to the root view of each scene, but can
			// technically be applied to any view within the {{Package}}App struct (must
			// be visible to the @HotReloadable macro).
			#hotReloadable(CounterView())
		}
	}
}
