import DefaultBackend
import SwiftBundlerRuntime
import SwiftCrossUI

// Top-level @HotReloadable sets up dylib entrypoints and hot reloading
// server connection.
@main
@HotReloadable
struct {{PACKAGE}}App: App {
	@State var count = 0

	var body: some Scene {
		WindowGroup("{{PACKAGE}}") {
			// #hotReloadable should be applied to the root view of each scene, but can
			// technically be applied to any view within the {{Package}}App struct (must
			// be visible to the @HotReloadable macro).
			#hotReloadable {
				VStack {
					Text("Count: \(count)")
					HStack {
						Button("Decrease") {
							count -= 1
						}
						Button("Increase") {
							count += 1
						}
					}
				}.padding()
			}
		}
	}
}
