// swift-tools-version: 5.5

import PackageDescription

let package = Package(
    name: "{{TARGET}}",
    platforms: [.macOS(.v10_15)],
    dependencies: [
        .package(url: "https://github.com/stackotter/swift-cross-ui", branch: "main")
    ],
    targets: [
        .executableTarget(
            name: "{{TARGET}}",
            dependencies: [
                .product(name: "SwiftCrossUI", package: "swift-cross-ui")
            ]
        ),
    ]
)