import SwiftCrossUI
import DefaultBackend

@main
struct {{PACKAGE}}App: App {
	let identifier = "{{IDENTIFIER}}"

	var body: some Scene {
		WindowGroup("{{PACKAGE}}") {
			Text("Hello, World!")
				.padding(10)
		}
	}
}
